[class^="sp-icon"], [class*=" sp-icon"] {
    display: inline-block;
    background-image: url(/sprites/icon.png);
    background-repeat:no-repeat;
    background-size: 1.6533333333333333rem, 1.6533333333333333rem;
  }
.sp-icon-copy {
      width: 0.8rem;
      height: 0.8rem;
      background-position: 0rem 0rem;
    }
.sp-icon-favadd {
      width: 0.8rem;
      height: 0.8rem;
      background-position: -0.8533333333333334rem 0rem;
    }
.sp-icon-moment {
      width: 0.8rem;
      height: 0.8rem;
      background-position: 0rem -0.8533333333333334rem;
    }
.sp-icon-refresh {
      width: 0.8rem;
      height: 0.8rem;
      background-position: -0.8533333333333334rem -0.8533333333333334rem;
    }